#
# https://time-complexity.blogspot.com/2013/10/mysqlmycnf.html
#



[mysqld]

character-set-server=utf8
collation-server=utf8_general_ci
init-connect = SET NAMES utf8
default-storage-engine=innodb
port=3306



[mysqldump]

default-character-set=utf8



[mysql]

default-character-set=utf8
no-auto-rehash
show-warnings
prompt = \u@\h:\d\_\R:\m:\\s>



[client]

port=3306
default-character-set=utf8
